.card-weapon{
    width: 200px;
    height: 250px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    background: #292828 ;
}

.card-weapon img{
    max-width: 200px;
    max-height: 200px;
}

.card-weapon a{
    text-decoration: none;
    color: #cc1e3b;
}

.card-weapon a:hover{
    color: #a7132c;
    text-decoration: underline #a7132c;
}