.footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: #ff3342;
  border: 5px solid #1a1919;
}

.redes a {
  color: #ff3342;
}

.redes a:hover {
  color: #ffc1c5;
  text-decoration: underline #ffc1c5;
}
