.agent-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.agent-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.agent-face {
  width: 100px;
  height: 100px;
}

.abilities-container {
  display: flex;
  max-width: 250px;
  max-height: 250px;
  flex-direction: column;
  padding: 16px;
}

.abilities-container img {
  height: 100px;
  width: 100px;
}

.background-image img {
  height: 85vh;
  width: auto;
}
