.card-container {
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
}
.card-grid {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.card-agent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  border: 2px solid #ccc1c1;
  background-color: #1e1e1e;
  min-width: 130px;
  text-decoration: none;
}

.card-agent h2 {
  color: #ff3341b7;
}

.character-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  filter: grayscale(100%);
  cursor: pointer;
}

.character-img:hover {
  filter: grayscale(0%);
}

.character-img selected {
  filter: none;
}

.card-title-back {
  color: white;
  padding: 5px;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

.selected-agent img {
  width: auto;
  height: 90vh;
}

.full-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-banner h2 {
  width: 100%;
  background-color: #9e9c9c;
  text-align: center;
}

.selected-agent.animated-slideIn {
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
